article {
    border: 1px solid gray;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 10%;
}
article img {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}
article p {
    font-size: 11px;
    margin: auto;
    display: inline-block;
    margin-bottom: 1rem;
}
article p:last-of-type {
    padding-left: 1rem;
    cursor: pointer;
}
article p:last-of-type:hover {
    color:blue;
}
.article-button {
    margin: .1rem .1vw;
}
/* article Card {
    width: fit-content;
    block-size: fit-content;
} */